* {
  margin: 0;
  padding: 0;
}

/* html,
body {
  overflow: hidden;
} */

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  width: 80%;
}

html {
  background: linear-gradient(to right bottom, #fbdb89, #e76f51);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
}

/* .personal_info {
  height: 100%;
  padding: 2%;
  position: fixed;
  width: 25%;
  z-index: 2;
  border-right: 0.08rem solid #999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

footer {
  font-size: 2.5vmin;
  color: #ffeded;
  padding-bottom: 3vmin;
  text-align: center;
}

.social-icons {
  padding-top: 10vh;
}

.social-icons a {
  text-decoration: none;
  color: #ffeded;
  font-size: 3vmin;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.project_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  height: 100%;
  margin-top: 8%;
}

.project_wrapper h2,
#contact_wrapper h2 {
  font-size: 6vmin;
  text-transform: uppercase;
}

#contact_wrapper {
  /* position: relative; */
  /* padding-left: 31%; */
  padding-top: 5%;
  height: 100%;
  padding-bottom: 5%;
}

.content {
  position: relative;
  margin-bottom: 5%;
}

.content_1,
.content_2,
.content_3,
.content_4,
.content_5 {
  display: grid;
  grid-template-columns: auto auto; /* Two columns of equal width */
  grid-template-rows: auto auto;
}

.content_1 .content_img,
.content_3 .content_img,
.content_4 .content_img {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.content_2 .content_img,
.content_5 .content_img {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.content .title a {
  font-size: 2.5vw;
  text-transform: uppercase;
  color: #ffeded;
  text-decoration: none;
}

.content_1 img {
  width: 50vw;
  height: auto;
  border-radius: 1.5rem;
}

.content_2 .img {
  /* position: relative; */
  width: 20vw;
  height: auto;
  border-radius: 1.5rem;
  /* left: calc(50% + 18vw); */
  /* box-shadow: 5px 5px 50px rgba(172, 220, 245, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); */
}

.content_3 .img {
  /* position: relative; */
  width: 30vw;
  /* left: 2vw; */
  height: auto;
  border-radius: 1.5rem;
  /* box-shadow: 5px 5px 50px rgba(172, 220, 245, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); */
}

.content_4 img {
  width: 40vw;
  height: auto;
}

.content_5 .img {
  width: 20vw;
  height: auto;
  border-radius: 1.5rem;
}

.content_1 .title {
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  padding-top: 4vmin;
}

.content_1 .subtitle {
  font-size: 1.5vw;
  grid-column: 2;
  grid-row: 2;
  padding-top: 4vmin;
}

.content_2 .title,
.content_5 .title {
  /* position: absolute;
  width: 50vw;
  left: calc(50% - 35vw);
  bottom: 1rem; */
  text-align: right;
  grid-column: 1;
  grid-row: 1;
  padding-right: 4vmin;
  padding-top: 4vmin;
}

.content_2 .subtitle,
.content_5 .subtitle {
  /* position: absolute;
  left: calc(50% - 35vw);
  top: 1rem;
  width: 45vw; */
  /* text-shadow: 10px 5px 10px rgba(0, 166, 255, 0.5); */
  font-size: 1.5vw;
  text-align: right;
  grid-column: 1;
  grid-row: 2;
  padding-right: 4vmin;
  padding-top: 4vmin;
}

.content_3 .subtitle {
  grid-column: 2;
  grid-row: 2;
  /* position: absolute;
  left: calc(25% + 4vw);
  top: 8rem;
  width: 50vw; */
  /* text-shadow: 10px 5px 10px rgba(0, 166, 255, 0.5); */
  font-size: 1.5vw;
  padding-top: 3vmin;
  padding-left: 4vmin;
}

.content_3 .title {
  /* position: absolute;
  width: 50vw;
  left: calc(25% + 4vw);
  top: 1rem; */
  grid-column: 2;
  grid-row: 1;
  padding-top: 3vmin;
  padding-left: 4vmin;
}

.content_4 .title {
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  padding-top: 4vmin;
  padding-left: 4vmin;
}

.content_4 .subtitle {
  font-size: 1.5vw;
  grid-column: 2;
  grid-row: 2;
  padding-top: 4vmin;
  padding-left: 4vmin;
}

.welcome_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 10vmin;
  font-size: 5vmin;
}

.welcome {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.welcome_link a {
  color: #ffeded;
  cursor: pointer;
  font-size: 4vmin;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  /* padding-left: 1%; */
}

.welcome p {
  font-size: 3vmin;
  max-width: 70vmin;
  text-align: justify;
  padding: 1rem 0;
}

.card {
  position: relative;
  width: 40vw;
  height: 70vh;
  margin: 5% auto;
  background: #f4d58d;
  box-shadow: 20px 20px 50px rgba(172, 220, 245, 0.4);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.card-content h3 {
  /* font-size: 1.8em; */
  color: #fff;
  z-index: 1;
  font-size: 5vmin;
  padding: 1vmin;
}

.card-content p {
  font-size: 3vmin;
  color: #fff;
  padding: 2vmin;
}

.card-image-wrapper {
  padding-top: 5vmin;
}

.card-image-wrapper img {
  width: 15vmin;
  /* height: 5vw; */
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#profile1 {
  display: none;
}

#profile0 {
  display: block;
}

.card-image-wrapper:hover #profile1 {
  display: block;
}
.card-image-wrapper:hover #profile0 {
  display: none;
}

#copy-btn a {
  text-decoration: none;
}

#copy-btn {
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  padding: 1vmin;
  /* margin-top: 15px; */
  border-bottom: 0.08rem solid #999;
  text-decoration: none;
  color: #fe7a36;
  font-size: 5vmin;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.text-canvas {
  display: none;
}

#wordcloud-wrapper {
  /* padding-right: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
  text-align: center;
  /* gap: -50px; */
}

.input-section {
  text-align: center;
}

input {
  /* width: 45%; */
  width: 20vmin;
  height: 5vmin;
  border-radius: 50px;
  margin: 1vmin;
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 10px rgba(172, 220, 245);
  background: transparent;
  opacity: 0.6;
  margin-top: 2vh;
}
input:focus {
  outline-color: rgba(255, 183, 3, 1);
}

#add-btn {
  width: 12vmin;
  height: 4vmin;
  border: 3px solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 10px rgb(172, 220, 245);
  background-color: #fefae0;
  opacity: 0.6;
  margin-left: 5vmin;
  border-radius: 20px;
  font-size: 2vmin;
  /* padding: 0 10px 0 10px; */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: #fb8500;
}

#add-btn:hover {
  border: 3px solid #fb8500;
  background-color: #fefae0;
  transform: scale(1.1);
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
@media (max-width: 1280px) {
  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    padding-top: 1vmin;
  }
  .content_2 .img,
  .content_3 .img,
  .content_5 .img {
    border-radius: 1rem;
  }
}

@media (max-width: 1024px) {
  .welcome_wrapper {
    flex-direction: column;
    gap: 2vmin;
  }

  .welcome p {
    max-width: 90%;
  }

  /* .content .title a {
    font-size: 2.5vw;
  } */

  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    font-size: 1.5vw;
    padding-top: 1.5vmin;
  }
  .content_2 .img,
  .content_3 .img,
  .content_5 .img {
    border-radius: 0.8rem;
  }

  .card {
    width: 70vmin;
    height: 70vmin;
  }
  .social-icons {
    padding-top: 5vh;
  }
  .welcome p {
    max-width: 100%;
  }
}

@media (max-width: 962px) {
  .welcome p {
    font-size: 3.5vmin;
  }

  /* .content .title a {
    font-size: 2.5vw;
  }
  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    font-size: 1.5vw;
  } */
}

@media (max-width: 810px) {
  .content_1 .title,
  .content_2 .title,
  .content_3 .title,
  .content_4 .title,
  .content_5 .title {
    padding-top: 1.2rem;
  }

  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    padding-top: 0;
    font-size: 1.5vw;
  }
  .welcome_wrapper {
    padding-top: 15vmin;
    gap: 4vmin;
  }
}

@media (max-width: 600px) {
  /* .content .title a {
    font-size: 2vw;
  } */

  .content_1 .title,
  .content_2 .title,
  .content_3 .title,
  .content_4 .title,
  .content_5 .title {
    padding-top: 1.2rem;
  }

  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    padding-top: 0;
    /* font-size: 1.5vw; */
  }
}

@media (max-width: 480px) {
  .welcome_wrapper {
    padding-top: 20vmin;
    gap: 8vmin;
  }

  .project_wrapper {
    padding-top: 3%;
    gap: 0;
  }

  /* .content .title a {
    font-size: 1.5vw;
  } */

  .content_1 .title,
  .content_2 .title,
  .content_3 .title,
  .content_4 .title,
  .content_5 .title {
    padding-top: 0.3rem;
  }

  /* .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    font-size: 1.5vw;
  } */

  .content_2 .img,
  .content_3 .img,
  .content_5 .img {
    border-radius: 0.5rem;
  }

  .social-icons {
    padding-top: 2vh;
  }
}

@media (max-width: 393px) {
  .welcome_wrapper {
    padding-top: 23vmin;
  }

  .content .title a {
    font-size: 0.6rem;
  }

  .content_1 .title,
  .content_2 .title,
  .content_3 .title,
  .content_4 .title,
  .content_5 .title {
    padding-top: 0.2rem;
  }

  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    font-size: 0.35rem;
  }
  .content_2 .img,
  .content_3 .img,
  .content_5 .img {
    border-radius: 0.3rem;
  }
}

@media (max-width: 360px) {
  .social-icons {
    padding-top: 1vh;
  }
  .content .title a {
    font-size: 0.5rem;
  }

  .content_1 .title,
  .content_2 .title,
  .content_3 .title,
  .content_4 .title,
  .content_5 .title {
    padding-top: 0;
  }
  .content_1 .subtitle,
  .content_2 .subtitle,
  .content_3 .subtitle,
  .content_4 .subtitle,
  .content_5 .subtitle {
    font-size: 0.35rem;
  }
}

/* @media (max-width: 962px) {
  .welcome p {
    min-width: 70vmin;
  }
  #wordcloud-wrapper {
    padding-right: 0;
  }
  .input-section {
    margin-top: -80px;
  }
  .content_3 .subtitle {
    top: 4rem;
    width: 55vw;
  }
} */

/* @media (max-width: 810px) {
  .welcome_wrapper {
    display: block;
    padding-top: 20%;
  }
  .welcome p {
    min-width: 100%;
  }
  .input-section {
    margin-top: -50px;
  }
  input {
    width: 20vw;
    height: 5vw;
  }
  #add-btn {
    width: 12vw;
    height: 4vw;
  }

  .project_wrapper h2,
  #contact_wrapper h2 {
    font-size: 1vmin;
  }

  .content .title a {
    font-size: 2.6vmin;
  }

  .content_3 .img {
    width: 30vw;
  }

  .content_1 .subtitle {
    font-size: 2vmin;
  }

  .content_2 .title {
    left: calc(13% - 16vw);
  }

  .content_2 .subtitle {
    font-size: 2vmin;
  }

  .content_3 .subtitle {
    left: calc(25% + 13vw);
    top: 3rem;
    width: 45vw;
    font-size: 2vmin;
  }
  .content_3 .title {
    left: calc(25% + 13vw);
  }
  .card {
    width: 65vw;
    height: 55vh;
  }
  .card-content {
    padding: 0;
  }

  .card-content h3 {
    padding: 0;
  }

  .card-content p {
    padding: 1vmin;
  }

  .card-image-wrapper {
    padding-top: 2vmin;
  }
  .social-icons {
    padding-top: 7vh;
  }
} */

/* @media (max-width: 414px) {
  .welcome_wrapper {
    padding-top: 30%;
  }
  input {
    width: 30vw;
    height: 6vw;
  }
  #add-btn {
    width: 15vw;
    height: 6vw;
  }
  .content_2 .img {
    width: 25vw;
  }
  .card {
    height: 30vh;
  }
  .card-content {
    padding: 1%;
  }

  .card-content h3 {
    padding: 1%;
  }

  .card-content p {
    padding: 1vmin;
  }

  .card-image-wrapper {
    padding-top: 2vmin;
  }
  .social-icons {
    padding-top: 1vh;
  }

  .project_wrapper {
    padding-top: 15%;
    gap: 25px;
  }

  .input-section {
    margin-top: 10px;
  }
  svg {
    width: 300px;
    height: 200px;
  }
} */

/* @media (max-width: 328px) {
  .welcome_wrapper {
    padding-top: 40%;
  }
  svg {
    width: 250px;
    height: 200px;
  }
  .card {
    height: 20vh;
  }
} */
